'.source.js':
  'Snippet Name':
    'prefix': 'Snippet Trigger'
    'body': """
      Hello World!
      Hello World!
      Hello World!
      Hello World!
    """

  'if statment':
    'prefix': 'mmnnmif'
    'body': """
      if($1){
        $2
        ${3:'replaced'}
        ${4:'wertyu'}
        }
    """
  'bootstrap button primary':
    'prefix': 'bootstrap button primary'
    'body': """
          <button class="btn btn-primary">Primary</button>
          """
  'bootstrap button secondary':
    'prefix': 'bootstrap button secondary'
    'body': """
          <button class="btn btn-secondary">Secondary</button>
          """
  'bootstrap button success':
    'prefix': 'bootstrap button success'
    'body': """
          <button class="btn btn-success">Success</button>
          """
  'bootstrap button danger':
    'prefix': 'bootstrap button danger'
    'body': """
          <button class="btn btn-danger">Danger</button>
          """
  'bootstrap button warning':
    'prefix': 'bootstrap button warning'
    'body': """
          <button class="btn btn-warning">Warning</button>
          """
  'bootstrap button info':
    'prefix': 'bootstrap button info'
    'body': """
          <button class="btn btn-info">Info</button>
          """
  'bootstrap button light':
    'prefix': 'bootstrap button light'
    'body': """
          <button class="btn btn-light">Light</button>
          """
  'bootstrap button dark':
    'prefix': 'bootstrap button dark'
    'body': """
          <button class="btn btn-dark">Dark</button>
          """
  'bootstrap button link':
    'prefix': 'bootstrap button link'
    'body': """
          <button class="btn btn-link">Link</button>
          """
